@import "../../css/variables";
@import "../../css/imagehover.css-master/css/imagehover.min.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "../../css/ImageHoverEffect";
@import "../../css/animate.css";
@import "../../css/general/style";

body,html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: white;
}

.page404 {
  min-height: 700px;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  align-items: center;
}

.error-block {
  span,h1 {
    color: black;
    font-family: Roboto Mono, monospace;
  }
  display: inline-block;
}
